.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ligma
{
  width: 25vw;
  height: 10vh;
  font-size: 30px;
  margin-left: 37.5vw
}

.App
{
    border-width: 0px;
    min-height: 100vh;
    background-color: #282c34;
}
.App-body
{
  border-width: 0px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: middle;
  justify-content: middle;
  font-size: calc(5px + 2vmin);
  color: white;
}
.App-header {
  border-width: 0px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #61dafb;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}
.game-info
{
  margin-top: 4vh;
}
.game-board{
  margin-left: 35vw;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  height: 10vw;
  width: 10vw;
  background: #fff;
  float: left;
  border: 1px solid #999;
  font-size: 34px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}
