
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}
.game-info
{
  margin-top: 4vh;
}
.game-board{
  margin-left: 35vw;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  height: 10vw;
  width: 10vw;
  background: #fff;
  float: left;
  border: 1px solid #999;
  font-size: 34px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}
